In [10]:
import pandas as pd
import numpy as np

In [17]:
#interchange last and first elements in list 
x=[12, 35, 9, 56, 24]

In [19]:
x[0],x[-1] = x[-1],x[0]

In [20]:
x

[24, 35, 9, 56, 12]

In [26]:
#interchange inbetween elements in a list 
List = [23, 65, 19, 90]  #pos1 = 1, pos2 = 3
pos1 = 0
pos2 = 2

In [28]:
List[pos1],List[pos2] = List[pos2],List[pos1]

In [29]:
List

[19, 65, 23, 90]

----

In [30]:
#find maximum of 2 numbers 
a=20
b=22

In [ ]:
max(a,b)

In [ ]:
def maximum(a,b):
    if a > b:
        return a
    else:
        return b

In [ ]:
maximum(a,b)

----

In [31]:
#check elements present in the list 
x = [1, 6, 3, 5, 3, 4]

In [32]:
if 33 in x :
    print("Present")
else:
    print("Not present")

Not present

----

#Most usable funcitons in List,Tuple and set

In [35]:
functions_in_list = ['append','clear','copy','count','extend','index','insert','pop','remove','reverse','sort']

In [37]:
functions_in_tuple = ['count','index']

In [41]:
functions_in_set = ['add','clear','copy','difference','difference_update','discard','intersection','intersection_update','isdisjoint',
 'issubset','issuperset','pop','remove','symmetric_difference','symmetric_difference_update','union','update']

---

In [42]:
#reversing a list 
x = [4, 5, 6, 7, 8, 9]

In [43]:
x[::-1]

[9, 8, 7, 6, 5, 4]

In [45]:
x.reverse()

In [46]:
x

[9, 8, 7, 6, 5, 4]

---

In [1]:
#count number of occurence in a list 
x = [15, 6, 7, 10, 12, 20, 10, 28, 10]

In [7]:
y=0
x.count(y)

0

In [14]:
pd.Series(x).value_counts()

10    3
15    1
6     1
7     1
12    1
20    1
28    1
Name: count, dtype: int64

List sum and average

In [15]:
x=[4, 5, 1, 2, 9, 7, 10, 8]

In [20]:
sum(x)

46

In [30]:
count=0
for i in x:
    count += i
count

46

In [32]:
average = count/len(x)
average

5.75

In [39]:
from statistics import *

In [35]:
functions_in_statistics  = ['Counter','Decimal','Fraction','LinearRegression','NormalDist','StatisticsError','bisect_left','bisect_right','correlation','covariance',
 'erf','exp','fabs','fmean','fsum','geometric_mean','groupby','harmonic_mean','hypot','itemgetter','linear_regression','log','math','mean',
 'median','median_grouped','median_high','median_low','mode','multimode','namedtuple','numbers','pstdev','pvariance','quantiles','random',
 'repeat','sqrt','stdev','tau','variance']

In [42]:
sum(x),mean(x),stdev(x)

(46, 5.75, 3.2841611235921855)